/* Sobre.css */
.sobre {
    font-family: 'Arial', sans-serif;
    padding: 40px;
    background-color: #f9f9f9;
  }
  
  .titulo {
    font-size: 2.5rem;
    text-align: center;
    color: #333;
    margin-bottom: 20px;
  }
  
  .hr-sobre {
    border: 0;
    height: 2px;
    background-color: #54ffb8;
    margin: 20px auto;
    width: 60%;
  }
  
  .subtitulo-sobre {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.8rem;
    color: #212121;
    text-align: center;
    font-weight: bold;
    margin: auto;
}


  .texto-info {
    width: 60%;
    font-size: 1.2rem;
    line-height: 1.8;
    color: #ff0000;
    text-align: justify;
  }
  
  .texto-sobre {
    width: 60%;
    font-size: 1.2rem;
    line-height: 1.8;
    color: #555;
    text-align: justify;
    margin-bottom: 10px;
  }
  
  /* Adicione uma responsividade */
  @media (max-width: 768px) {
    .titulo {
      font-size: 2rem;
    }
  
    .subtitulo-sobre {
      font-size: 1.5rem;
    }
  
    .container {
      padding: 15px;
    }
  
    .texto-sobre {
      font-size: 1rem;
    }
  }
  